version: '3.8'

services:
  flask-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask-api
    ports:
      - "5000:5000"
      - "5678:5678"  # Debug port
    volumes:
      - ./:/app
    environment:
      - FLASK_ENV=development
      - PYTHONUNBUFFERED=1
      - ENABLE_DEBUGPY=0  # Enable debugging by setting to 1
    restart: unless-stopped